// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;


// $white-color: #fff;

// $dark-grey: #333333;

// // For Headings
// $dark-blue-text: #272341; 

$primary-color: #f7be16;
$secondary-color: #F9D56A ;


$white-color: #fff ;

$dark-grey: #232323;

// For Headings
$dark-blue-text: #293462 ; 




// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// #F9D56A - #f7be16 - #00818a - #216583 - #293462 

// #FFEBCF - #F1D1B5 - #F0B7A4 - #F18C8E - #305F72